/*!
 * Bootstrap fixed width sidebar template - (http://www.digitalinternals.com/design/bootstrap-fixed-width-sidebar/555/)
 * Copyright 2008-2016 Digital Internals
 * Licensed under MIT (https://gitlab.com/digitalinternals/bootstrap-fixed-width-sidebar-template/blob/master/LICENSE)
 */

body {
    padding-top: 70px; /* required padding for .navbar-fixed-top */
}

footer {
    margin: 50px 0;
}

/* mobile first style */
.col-fixed { position:relative; min-height:1px; padding-right:15px; padding-left:15px; float:left; width:100%;  }
.col-fluid { position:relative; min-height:1px; padding-right:15px; padding-left:15px; float:left; width:100%;  }

@media (min-width: 768px) and (max-width: 991px) {    
    .col-fixed { width:350px; }
    .col-fluid { width:calc(100% - 350px); }        
}                                          

@media (min-width: 992px) and (max-width: 1199px) {
    .col-fixed { width:350px; }
    .col-fluid { width:calc(100% - 350px); }
}

@media (min-width: 1200px) {
    .col-fixed { width:350px; }
    .col-fluid { width:calc(100% - 350px); }
}
